# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# SQLite database
db.sqlite3

# Static files
/static/

# Media files
/media/

# Ignore any other sensitive files
*.env
*.log


node_modules/


.idea/
.vscode/
*.swp
.DS_Store
