# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# SQLite database
db.sqlite3

# Static files
/static/

# Media files
/media/

# Ignore any other sensitive files
*.env
*.log

# Node modules (if using Node.js)
node_modules/

# IDE or editor specific files
.idea/
.vscode/
*.swp
.DS_Store
